<div class="user-input">
  <div style="display: flex; flex-direction: row">
    <app-text-input (usernameChange)="receiveUsernameOne($event)"></app-text-input>
    <h3 style="margin: .5vh 20px">VS</h3>
    <app-text-input (usernameChange)="receiveUsernameTwo($event)"></app-text-input>
  </div>
  <br/>
  <br/>
  <button (click)="onSubmit()" [disabled]="!usernameOne || !usernameTwo" class="btn btn-secondary btn-lg link-button">
    Duel
  </button>
</div>

<div class="col-md-4">
  <select (change)="chooseWinner($event)" [disabled]="users.length < 2 && !isUserVisible || showAlert" class="form-select form-select-lg mb-3">
    <option [hidden]="isUserVisible" selected>Choose a category to see who wins!</option>
    <ng-container *ngFor="let choice of choices">
      <option [hidden]="!isUserVisible" [value]="choice">{{ choice }}</option>
    </ng-container>
  </select>
</div>

<div *ngIf="isUserVisible && !showAlert" class="cards">
  <ng-container *ngFor="let userData of users">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img alt="Avatar" src="{{userData.avatar_url}}" style="border-radius: 15px; width:500px;height:500px;">
        </div>
        <div class="flip-card-back">
          <br/>
          <br/>
          <h1>{{ userData.name }}</h1>
          <h4 class="card-text">{{ userData.bio }}</h4>
          <h5>Location: {{ userData.location }}</h5>
          <h5>Title: {{ userData.titles }}</h5>
          <h5>Favorite language: {{ userData['favorite-language'] }}</h5>
          <h5># of public repos: {{ userData['public-repos'] }}</h5>
          <h5>Total stars: {{ userData['total-stars'] }}</h5>
          <h5>Highest starred: {{ userData['highest-starred'] }}</h5>
          <h5>Perfect repos: {{ userData['perfect-repos'] }}</h5>
          <h5>Followers: {{ userData.followers }}</h5>
          <h5>Following: {{ userData.following }}</h5>
        </div>
      </div>
    </div>
  </ng-container>
</div>

  <div *ngIf="!isUserVisible && showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errorMessage }}</strong>
  </div>

<!--<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"-->
<!--     data-bs-keyboard="false"-->
<!--     id="staticBackdrop" tabindex="-1">-->
<!--  <div class="modal-dialog modal-dialog-centered">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ modalTitle }}</h1>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>{{ errorMessage }}</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
