<!--<input-->
<!--  type="text"-->
<!--  #box-->
<!--  style="text-align: center"-->
<!--  class="username-input"-->
<!--  placeholder="username"-->
<!--  name="username"-->
<!--  (keyup)="setUsername(box.value)"-->
<!--/>-->

<div class="input-group input-group-lg username-input">
  <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
  <input type="text"
         class="form-control form-control-lg"
         name="username"
         (keyup)="setUsername(box.value)"
         #box
  >
</div>
